html, body{
  height: 100%;
}
body {
  font: 14px/1.6 arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #666;
  background-color: #fff;
}
input,
textarea {
  font-family: arial, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
i, em{
  font-style: italic;
}
b, strong{
  font-weight: bold;
}